/*
headerbar entry,
headerbar spinbutton,
headerbar button,
headerbar separator {
    margin-top: 0px; 
    margin-bottom: 0px;
}

headerbar {
    padding-left: 2px;
    padding-right: 2px;
    margin: -6px;
    padding: 0px;
  }

  stage {
    font-size: 9em;
  }
*/
